name: Update PO
on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Update PO
        run: |
          ./scripts/update-po.sh
      - name: Push updated PO
        uses: EndBug/add-and-commit@v9
        with:
          message: '[CI] Update PO'
          add: './locales/'
