name: Update POT
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Update POT
        run: |
          ./scripts/generate-pot.sh
      - name: Push updated POT
        uses: EndBug/add-and-commit@v9
        with:
          message: '[CI] Update POT'
          add: './pot/'
